body {
  font-size: 0.875rem;
  font-size: large !important;
}

p {
  font-size: large !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 42px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #2ec6d4;
  color: #2b3582 !important;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
  font-weight: bold;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #2ec6d4;
}

.sidebar .nav-link.active {
  color: #2b3582;
  background-color: #fff !important;
}

.sidebar .nav-link:hover .feather {
  color: #2b3582;
}
.sidebar .nav-link.active .feather {
  color: #2b3582;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/* for development */

.short-title {
  color: #fff;

  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  border-width: 0;
  border-radius: 0;
  margin-bottom: 0px !important;
}

.text-align-center {
  text-align: center !important;
}

/* .bg-company {
  background-color: #8f9cff !important;
} */

.bg-company {
  background: linear-gradient(
    90deg,
    #2577cd 22.7%,
    rgba(200, 198, 248, 0.5) 100%
  );
}

.bg-button,
.bg-button:disabled {
  background-color: #8aacd1 !important;
  color: white;
}

.bg-button:hover {
  background-color: #5971ad !important;
  color: #fff;
}

.btn-active {
  background-color: #5971ad !important;
  color: #fff;
}

.btn-stage-active {
  background-color: #5971ad !important;
  color: #fff;
}

.subBtn-active {
  background-color: #5971ad !important;
  color: #fff;
}

.btn-circle {
  width: 40px;
  height: 40px;
  float: right;
  line-height: 28px;
  background: #ffffff;
  border: 1px solid #dcd6d6;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  font-size: 17px;
  color: #2b3582;
}

.text-primary {
  color: #2b3582 !important;
}

.pred-hide {
  display: none !important;
  width: 0px;
  height: 0px;
}

.bg-holdera {
  background-color: #f9fbfd;
}

.bg-holderb {
  background-color: #f1f7fb;
}

.bg-holderc {
  background-color: #f9fbfd;
}

.bg-holderd {
  background-color: #f1f7fb;
}

.choosen {
  height: 50px;
}

.choosen-holder {
  height: 50px;
  margin-top: 40.75px;
  background-color: #fff;
  width: 100%;
  border: dashed 1px;
  border-radius: 30px;
}

.drag-btn {
  display: block;
  height: 50px;
  text-align: center;
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.drop-btn {
  display: block;
  height: 50px;
  text-align: center;
  width: 100%;
}
.drag-box:hover {
  background-color: #ffbc30 !important;
  color: #fff;
}
.drag-box {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  width: 100%;
  background-color: #ffbc30;
  color: #fff;
  cursor: grab;
  z-index: 1;
  border-radius: 30px;
}

.drag-active {
  background-color: #ffbc30 !important;
  color: #fff;
}

.drag-disabled,
.drag-disabled:hover {
  background-color: #ffbc30 !important;
  opacity: 0.65;
  cursor: default !important;
}

body {
  background: linear-gradient(90deg, #ffffff 43.95%, #d7f5fd 100%);
}

.predNames {
  width: 100%;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #f4b183;
  border-radius: 10px 10px;
  box-shadow: 5px 5px 10px grey;
}

.methods {
  width: 100%;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #2979ce;
  border-radius: 10px 10px;
  box-shadow: 5px 5px 10px grey;
}

.scores,
.weights {
  width: 100%;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  color: #2b3582;
  border-radius: 10px 10px;
  background-color: #fff;
  font-weight: bold;
  box-shadow: 5px 5px 10px grey;
}

.btn-method {
  border-radius: 30px !important;
}

.card-header {
  background-color: #9dd7c4;
}

.card-header h2 button {
  font-size: 20px;
  color: #236585 !important;
}

.modal-footer button {
  border-radius: 30px;
  width: 100px;
}
