<!-- Modal -->
<div
  class="modal fade"
  id="savePdf"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" id="simulation-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" id="">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-md-12" id="simulation-button">
            <button
              type="button"
              class="btn btn-secondary btn-lg"
              data-dismiss="modal"
              id="simulation-no"
            >
              CLOSE
            </button>
            <button type="button" class="btn btn-primary btn-lg" id="print">
              PRINT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
