<!-- Modal -->
<div
  class="modal fade"
  id="startSimulation"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <p>Would you like to</p>
        <p>start the simulation?</p>
        <br />
        <p>You will not be able to make any</p>
        <p>changes once</p>
        <p>it starts.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
