<div class="col-md-12" id="content-banner">
  <!-- Top Header -->
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <!-- first button -->
    <div class="col-md-8 pb-2">
      <p>
        The results are listed below. Select “Download” for a PDF copy, which
        you may submit for review. If you are unsatisfied, select “Retry” to go
        back to the beginning.
      </p>
    </div>
    <!-- /.first button -->

    <!-- /.first button -->

    <div class="col-md-4">
      <button type="button" style="float: right" class="btn btn-sm btn-circle">
        <b>?</b>
      </button>
    </div>
  </div>
  <!-- /.Top Header -->
</div>

<div class="col-md-12">
  <!-- this where accordion exist -->
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Stage 1: Initial
          </button>
        </h2>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <div class="card-body" id="resultInitial">
          <div class="card-body" id="resultContingent">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead id="finalHeader1"></thead>
                <thead>
                  <tr id="finalHead1">
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody id="finalBody1"></tbody>
                <tfoot id="finalScore1"></tfoot>
                <tfoot id="finalTotal1"></tfoot>
              </table>
              <div id="holderTotal1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Stage 2: Substantive
          </button>
        </h2>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionExample"
      >
        <div class="card-body" id="resultSubstantive">
          <div class="card-body" id="resultContingent">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead id="finalHeader2"></thead>
                <thead>
                  <tr id="finalHead2">
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody id="finalBody2"></tbody>
                <tfoot id="finalScore2"></tfoot>
                <tfoot id="finalTotal2"></tfoot>
              </table>
              <div id="holderTotal2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Stage 3: Discretionary
          </button>
        </h2>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordionExample"
      >
        <div class="card-body" id="resultDiscretionary">
          <div class="card-body" id="resultContingent">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead id="finalHeader3"></thead>
                <thead>
                  <tr id="finalHead3">
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody id="finalBody3"></tbody>
                <tfoot id="finalScore3"></tfoot>
                <tfoot id="finalTotal3"></tfoot>
              </table>
              <div id="holderTotal3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Stage 4: Contingent
          </button>
        </h2>
      </div>
      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordionExample"
      >
        <div class="card-body" id="resultContingent">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead id="finalHeader4"></thead>
              <thead>
                <tr id="finalHead4">
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody id="finalBody4"></tbody>
              <tfoot id="finalScore4"></tfoot>
              <tfoot id="finalTotal4"></tfoot>
            </table>
            <div id="holderTotal4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Finalist
          </button>
        </h2>
      </div>
      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordionExample"
      >
        <div class="card-body" id="finalist">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
