<div class="col-md-12" id="content-banner">
  <!-- Top Header -->
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <!-- first button -->
    <div class="col-md-8 pb-2">
      <p class="text-summary">
        The results are listed below.<br />
        Select <span class="start">“Download”</span> to open up a new window
        that lists your results for this simulation.<br />Then, right-click and
        select <span class="start">“Print”</span>. You can then select
        <span class="start">"Save to PDF”</span> and download the page as a PDF
        document for submission.<br />If you are unsatisfied, select
        <span class="ammend">“Retry”</span> to go back to the beginning.
      </p>
    </div>
    <!-- /.first button -->

    <!-- /.first button -->

    <div class="col-md-4">
      <img
        src="includes/images/HELP.png"
        class="help"
        alt="help"
        data-toggle="modal"
        data-target="#help"
      />
    </div>
  </div>
  <!-- /.Top Header -->
</div>

<div class="col-md-12">
  <!-- this where accordion exist -->
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <b>Stage 1:</b> Initial <b style="float: right">-</b>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
        <div class="card-body" id="resultInitial">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead id="finalHeader1"></thead>
              <thead>
                <tr id="finalHead1">
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody id="finalBody1"></tbody>
              <tfoot id="finalScore1"></tfoot>
              <tfoot id="finalTotal1"></tfoot>
            </table>
            <div id="holderTotal1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <b>Stage 2:</b> Substantive <b style="float: right">-</b>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
        <div class="card-body" id="resultSubstantive">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead id="finalHeader2"></thead>
              <thead>
                <tr id="finalHead2">
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody id="finalBody2"></tbody>
              <tfoot id="finalScore2"></tfoot>
              <tfoot id="finalTotal2"></tfoot>
            </table>
            <div id="holderTotal2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="true"
            aria-controls="collapseThree"
          >
            <b>Stage 3:</b> Discretionary <b style="float: right">-</b>
          </button>
        </h2>
      </div>
      <div
        id="collapseThree"
        class="collapse show"
        aria-labelledby="headingThree"
      >
        <div class="card-body" id="resultDiscretionary">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead id="finalHeader3"></thead>
              <thead>
                <tr id="finalHead3">
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody id="finalBody3"></tbody>
              <tfoot id="finalScore3"></tfoot>
              <tfoot id="finalTotal3"></tfoot>
            </table>
            <div id="holderTotal3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="true"
            aria-controls="collapseFour"
          >
            <b>Stage 4:</b> Contingent <b style="float: right">-</b>
          </button>
        </h2>
      </div>
      <div
        id="collapseFour"
        class="collapse show"
        aria-labelledby="headingFour"
      >
        <div class="card-body" id="resultContingent">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead id="finalHeader4"></thead>
              <thead>
                <tr id="finalHead4">
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody id="finalBody4"></tbody>
              <tfoot id="finalScore4"></tfoot>
              <tfoot id="finalTotal4"></tfoot>
            </table>
            <div id="holderTotal4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFive"
            aria-expanded="true"
            aria-controls="collapseFive"
          >
            <b>Finalist</b> <b style="float: right">-</b>
          </button>
        </h2>
      </div>
      <div
        id="collapseFive"
        class="collapse show"
        aria-labelledby="headingFour"
        data-parent="#accordionExample"
      >
        <div class="card-body" id="finalist">
          <div class="col-md-12">
            <p class="text-summary">
              Here are your finalists arranged in alphabetical order
            </p>
            <table class="table table-bordered">
              <thead id="finalistHeader"></thead>
              <thead>
                <tr id="finalistHead">
                  <th scope="col text-align-center">Name</th>
                </tr>
              </thead>
              <tbody id="finalistBody"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
