<div class="row p-5">
  <div class="col-md-12">
    <h4 id="greeting" class="text-primary">Welcome</h4>
  </div>
  <div class="col-md-12">
    <p class="text-summary">
      The results are listed below.<br />
      Select <span class="start">“Download”</span> to open up a new window that
      lists your results for this simulation.<br />Then, right-click and select
      <span class="start">“Print”</span>. You can then select
      <span class="start">“Print to PDF”</span> and download the page as a PDF
      document for submission.<br />If you are unsatisfied, select
      <span class="ammend">“Retry”</span> to go back to the beginning.
    </p>
  </div>
  <div class="col-md-12">
    <h2><b>Stage 1:</b> Initial</h2>
    <div id="resultInitial1"></div>
    <div id="resultInitial">
      <table class="table table-bordered">
        <thead id="finalHeader1"></thead>
        <thead>
          <tr id="finalHead1">
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody id="finalBody1"></tbody>
        <tfoot id="finalScore1"></tfoot>
        <tfoot id="finalTotal1"></tfoot>
      </table>
      <div id="holderTotal1"></div>
    </div>
  </div>

  <div class="col-md-12">
    <h2><b>Stage 2:</b> Substantive</h2>
    <div id="resultSubstantive1"></div>
    <div id="resultSubstantive">
      <table class="table table-bordered">
        <thead id="finalHeader2"></thead>
        <thead>
          <tr id="finalHead2">
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody id="finalBody2"></tbody>
        <tfoot id="finalScore2"></tfoot>
        <tfoot id="finalTotal2"></tfoot>
      </table>
      <div id="holderTotal2"></div>
    </div>
  </div>

  <div class="col-md-12">
    <h2><b>Stage 3:</b> Discretionary</h2>
    <div id="resultDiscretionary1"></div>
    <div id="resultDiscretionary">
      <table class="table table-bordered">
        <thead id="finalHeader3"></thead>
        <thead>
          <tr id="finalHead3">
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody id="finalBody3"></tbody>
        <tfoot id="finalScore3"></tfoot>
        <tfoot id="finalTotal3"></tfoot>
      </table>
      <div id="holderTotal3"></div>
    </div>
  </div>

  <div class="col-md-12">
    <h2><b>Stage 4:</b> Contingent</h2>
    <div id="resultContingent1"></div>
    <div id="resultContingent">
      <table class="table table-bordered">
        <thead id="finalHeader4"></thead>
        <thead>
          <tr id="finalHead4">
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody id="finalBody4"></tbody>
        <tfoot id="finalScore4"></tfoot>
        <tfoot id="finalTotal4"></tfoot>
      </table>
      <div id="holderTotal4"></div>
    </div>
  </div>

  <div class="col-md-12">
    <h2><b>Finalist</b></h2>
    <table class="table table-bordered">
      <thead id="finalistHeader"></thead>
      <thead>
        <tr id="finalistHead">
          <th scope="col text-align-center">Name</th>
        </tr>
      </thead>
      <tbody id="finalistBody"></tbody>
    </table>
  </div>
</div>
