<div class="col-md-12" id="content-banner">
  <!-- Top Header -->
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <!-- first button -->
    <div class="col-md-4 pb-2">
      <button
        class="btn bg-button pred-btn"
        data-btn="single-predictor"
        id="single-predictor"
      >
        Single Predictor
      </button>
      <button
        class="btn bg-button pred-btn"
        data-btn="multiple-predictor"
        id="multiple-predictor"
      >
        Multiple Predictor
      </button>
    </div>
    <!-- /.first button -->

    <!-- first button -->
    <div class="col-md-4">
      <button
        class="btn btn-sm bg-button subPred-btn"
        disabled
        id="multi-hurdle"
      >
        Multi-Hurdle Model
      </button>
      <button
        class="btn btn-sm bg-button subPred-btn"
        disabled
        id="compensatory"
      >
        Compensatory Model
      </button>
    </div>
    <!-- /.first button -->

    <div class="col-md-4">
      <button type="button" style="float: right" class="btn btn-sm btn-circle">
        <b>?</b>
      </button>
    </div>
  </div>
  <!-- /.Top Header -->
</div>

<div class="col-md-6" id="content-banner">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </div>
</div>

<div class="col-md-6">
  <h4 class="text-center text-primary">PREDICTORS</h4>
  <div class="row" id="predictors-table"></div>
</div>
