<div class="col-md-12" id="content-banner">
  <!-- Top Header -->
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <!-- first button -->
    <div class="col-md-8 pb-2">
      <p class="text-summary">
        Please review your selection here. Select
        <span class="ammend">“Amend”</span> if you need to make any changes.<br />
        Once you are ready, select
        <span class="start">“Start Simulation”</span> to view the results.<br />You
        will not be able to make any changes once the simulation has started.
      </p>
    </div>
    <!-- /.first button -->

    <!-- /.first button -->

    <div class="col-md-4">
      <img
        src="includes/images/HELP.png"
        class="help"
        alt="help"
        data-toggle="modal"
        data-target="#help"
      />
    </div>
  </div>
  <!-- /.Top Header -->
</div>

<div class="col-md-12">
  <!-- this where accordion exist -->
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <!-- data-toggle="collapse" -->
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
            data-btn="mp-button1"
            data-btn="mp-button1"
          >
            <b>Stage 1:</b> Initial
            <b style="float: right" id="mp-button1" data-btn="mp-button1">-</b>
          </button>
        </h2>
      </div>
      <!-- data-parent="#accordionExample" -->
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
        <div class="card-body" id="resultInitial">
          <h5 id="pred1" class="text-primary">&nbsp;</h5>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
            data-btn="mp-button2"
          >
            <b>Stage 2:</b> Substantive
            <b style="float: right" id="mp-button2" data-btn="mp-button2">-</b>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
        <div class="card-body" id="resultSubstantive">
          <h5 id="pred2" class="text-primary">&nbsp;</h5>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="true"
            aria-controls="collapseThree"
            data-btn="mp-button3"
          >
            <b>Stage 3:</b> Discretionary
            <b style="float: right" id="mp-button3" data-btn="mp-button3">-</b>
          </button>
        </h2>
      </div>
      <div
        id="collapseThree"
        class="collapse show"
        aria-labelledby="headingThree"
      >
        <div class="card-body" id="resultDiscretionary">
          <h5 id="pred3" class="text-primary">&nbsp;</h5>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="true"
            aria-controls="collapseFour"
            data-btn="mp-button4"
          >
            <b>Stage 4:</b> Contingent
            <b style="float: right" id="mp-button4" data-btn="mp-button4">-</b>
          </button>
        </h2>
      </div>
      <div
        id="collapseFour"
        class="collapse show"
        aria-labelledby="headingFour"
      >
        <div class="card-body" id="resultContingent">
          <h5 id="pred4" class="text-primary">&nbsp;</h5>
        </div>
      </div>
    </div>
  </div>
</div>
