<!-- Start of row -->
<div class="row">
  <div class="col-md-6 bg-holdera p-4" id="holder-button">
    <div class="choosen-holder">
      <!-- <button
          type="button"
          class="btn btn-block btn-large btn-info choosen"
          id="choosen1"
        >
          Company Experience
        </button> -->
    </div>
  </div>
  <div class="col-md-6 bg-holderb p-4">
    <div class="row">
      <div class="col-md-12 text-center pt-2">
        <div class="form-group">
          <select class="form-control">
            <option value="0" selected>Select the Weightage</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 bg-holdera p-4" id="holder-button">
    <div class="choosen-holder">
      <!-- <button
          type="button"
          class="btn btn-block btn-large btn-info choosen"
          id="choosen1"
        >
          Company Experience
        </button> -->
    </div>
  </div>
  <div class="col-md-6 bg-holderb p-4">
    <div class="row">
      <div class="col-md-12 text-center pt-2">
        <div class="form-group">
          <select class="form-control">
            <option value="0" selected>Select the Weightage</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 bg-holderc p-4">
    <div class="add-button">
      <!-- <button
          type="button"
          class="btn btn-block btn-large btn-info choosen"
          id="choosen1"
        >
          Company Experience
        </button> -->
    </div>
  </div>
  <div class="col-md-6 bg-holderd p-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Total Weightage: <span class="text-danger">0%</span></h4>
      </div>
      <div class="col-md-12 text-center">
        <p class="text-muted">Select the scoring Method</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-block btn-sm bg-button" disabled>
          Cut-Off<br />Method
        </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-block btn-sm bg-button" disabled>
          Top-Down<br />Method
        </button>
      </div>
      <div class="col-md-12 text-center pt-2">
        <div class="form-group">
          <select class="form-control">
            <option value="0" selected>Pls Choose</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.end of row -->
