<!-- Start of row -->
<input type="hidden" id="addCounter" value="3" /> 
<input type="hidden" id="methodType" value="0" />
<div class="row" id="holder-button">
  <div class="col-md-5 bg-holdera p-4 droppable1" id="holder1">
    <div class="choosen-holder choosen-holder1">
      Drag Predictor Here
      <!-- <button
          type="button"
          class="btn btn-block btn-large btn-info choosen"
          id="choosen1"
        >
          Company Experience
        </button> -->
    </div>
  </div>
  <div class="col-md-7 bg-holderb p-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">Select the Scoring Method</p>
      </div>
      <div class="col-md-6">
        <button
          type="button"
          class="btn btn-block btn-sm bg-button btn-method"
          disabled
          id="minimum1"
          data-method="method1"
          data-type="minimum"
          data-counter="topdown1"
        >
          Minimum Competency<br />Method
        </button>
      </div>
      <div class="col-md-6">
        <button
          type="button"
          id="topdown1"
          class="btn btn-block btn-sm bg-button btn-method"
          disabled
          data-method="method1"
          data-type="topdown"
          data-counter="minimum1"
        >
          Top-Down<br />Method
        </button>
      </div>
      <div class="col-md-12 text-center pt-2">
        <div class="form-group">
          <select
            class="form-control method method1"
            data-predid="0"
            data-pretext=""
            data-type="method"
            data-class="method1"
          >
            <option value="0" selected>Select the Score</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 bg-holdera p-4 droppable2" id="holder2">
    <div class="choosen-holder choosen-holder2">
      Drag Predictor Here
      <!-- <button
            type="button"
            class="btn btn-block btn-large btn-info choosen"
            id="choosen1"
          >
            Company Experience
          </button> -->
    </div>
  </div>
  <div class="col-md-7 bg-holderb p-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">Select the Scoring Method</p>
      </div>
      <div class="col-md-6">
        <button
          type="button"
          class="btn btn-block btn-sm bg-button btn-method mininum"
          disabled
          id="minimum2"
          data-method="method2"
          data-type="minimum"
          data-counter="topdown2"
        >
          Minimum Competency<br />Method
        </button>
      </div>
      <div class="col-md-6">
        <button
          type="button"
          id="topdown2"
          class="btn btn-block btn-sm bg-button btn-method topdown"
          disabled
          data-method="method2"
          data-type="topdown"
          data-counter="minimum2"
        >
          Top-Down<br />Method
        </button>
      </div>
      <div class="col-md-12 text-center pt-2">
        <div class="form-group">
          <select
            class="form-control method method2"
            data-predid="0"
            data-pretext=""
            data-type="method"
            data-class="method2"
          >
            <option value="0" selected>Select the Score</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- /.end of row -->
</div>
<div class="row">
  <div class="col-md-5">
    <div class="add-button">
      <img src="includes/images/plus.png" class="button-img-add" height="30">&nbsp;</img>
      <b>Click to Add a New Slot</b>
    </div>
  </div>
  <div class="col-md-7">&nbsp;</div>
</div>


