<!-- Start of row -->
<div class="row">
  <div class="col-md-6 bg-holdera p-4 droppable">
    <div class="choosen-holder">
      <!-- <button
          type="button"
          class="btn btn-block btn-large btn-info choosen"
          id="choosen1"
        >
          Company Experience
        </button> -->
    </div>
  </div>
  <div class="col-md-6 bg-holderb p-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">Select the scoring Method</p>
      </div>
      <div class="col-md-6">
        <button
          type="button"
          class="btn btn-block btn-sm bg-button btn-method"
          disabled
          id="minimum"
        >
          Minimum Competency<br />Method
        </button>
      </div>
      <div class="col-md-6">
        <button
          type="button"
          id="topdown"
          class="btn btn-block btn-sm bg-button btn-method"
          disabled
        >
          Top-Down<br />Method
        </button>
      </div>
      <div class="col-md-12 text-center pt-2">
        <div class="form-group">
          <select class="form-control method" data-predid="0" data-pretext="">
            <option value="0" selected>Pls Choose</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.end of row -->
